Repository chingu-voyages/v45-tier3-team-47, pull requests merged in 2023-09, with the labels that each got.

#34 Feat/router and tailwind
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/Layout/Components/Footer.tsx
  frontend/src/Layout/Components/Nav.tsx
  frontend/src/Layout/RootLayout.tsx
  frontend/src/Layout/components/Form.tsx
  frontend/src/Pages/About.tsx
  frontend/src/Pages/Landing.tsx
  frontend/src/Pages/Login.tsx
  frontend/src/Pages/Login/Form.tsx
  frontend/src/Pages/Login/Login.tsx
  frontend/src/Pages/Profile.tsx
  frontend/src/index.css
Labels: task, must have, front end

#49 Build backend routes
  backend/src/config/controllers/pointOfInterest.controller.ts
  backend/src/config/controllers/user.controller.ts
  backend/src/config/models/PointOfInterest.ts
  backend/src/index.ts
  backend/src/middleware/auth.ts
  backend/src/routes/auth.ts
  backend/src/routes/pointOfInterst.route.ts
  backend/src/routes/user.route.ts
  backend/src/types/index.d.ts
Labels: bug, task, must have, back end

#54 Feat/landing page
  frontend/src/App.tsx
  frontend/src/Layout/Components/Nav.tsx
  frontend/src/Pages/Landing.tsx
  frontend/src/Pages/Landing/Forms/CitySearchForm.tsx
  frontend/src/Pages/Landing/Forms/Components/PriceSlider.tsx
  frontend/src/Pages/Landing/Forms/Components/RatingCheckboxes.tsx
  frontend/src/Pages/Landing/Forms/Components/StateChecker.tsx
  frontend/src/Pages/Landing/Forms/Components/TypeCheckboxes.tsx
  frontend/src/Pages/Landing/Forms/FilterForm.tsx
  frontend/src/Pages/Landing/Landing.tsx
Labels: task, must have, front end

#55 Feat/profile page
  frontend/src/App.tsx
  frontend/src/Pages/Landing/Forms/CitySearchForm.tsx
  frontend/src/Pages/Landing/Forms/FilterForm.tsx
  frontend/src/Pages/Landing/Landing.tsx
  frontend/src/Pages/Login/Form.tsx
  frontend/src/Pages/Login/Login.tsx
  frontend/src/Pages/Profile.tsx
  frontend/src/Pages/Profile/Profile.tsx
Labels: task, must have, front end

#66 Fixing or bypassing TS errors temporarily for deployment
  frontend/src/Pages/Landing/Forms/FilterForm.tsx
  frontend/src/Pages/Profile/Profile.tsx
Labels: task, front end

#72 simplify posts route in backend
  backend/index.ts
Labels: nice to have, back end

#77 Set up create point of interest page
  backend/config/config.json
  backend/src/controllers/pointOfInterest.controller.ts
  backend/src/controllers/post.controller.ts
  backend/src/controllers/user.controller.ts
  backend/src/routes/pointOfInterest.route.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/Layout/Components/Nav.tsx
  frontend/src/Pages/Login/Form.tsx
  frontend/src/Pages/POI/PointOfIntrest.tsx
  frontend/src/Pages/POI/PostForm.tsx
Labels: enhancement, task, must have, front end, back end

#78 Feat/mobile view
  frontend/package-lock.json
  frontend/src/Pages/About.tsx
  frontend/src/Pages/Landing/Forms/Components/PriceSlider.tsx
  frontend/src/Pages/Landing/Forms/FilterForm.tsx
  frontend/src/Pages/Landing/Landing.tsx
  frontend/src/Pages/Landing/MapContainer.tsx
Labels: task, nice to have, front end

#90 Add logo
  frontend/src/Layout/Components/Nav.tsx
  frontend/src/assets/Logo.png
Labels: enhancement, nice to have, front end

#95 Feat/read me
  README.md
Labels: documentation, task

#93 Configurations for deployment
  backend/index.ts
  backend/package.json
  backend/src/config/db.ts
Labels: task, back end

#96 filter points of interest by category
  frontend/src/Pages/Landing/Forms/FilterForm.tsx
  frontend/src/Pages/Landing/Landing.tsx
  frontend/src/Pages/Landing/MapContainer.tsx
Labels: task, must have, front end

#99 Added favicon
  frontend/index.html
  frontend/public/favicon.ico
  frontend/public/vite.svg
  frontend/src/assets/react.svg
  frontend/src/index.css
Labels: task, nice to have, front end

#101 Nav mobile updates
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/Layout/Components/Nav.tsx
  frontend/src/Layout/Components/Nav/MobileListItem.tsx
  frontend/src/Layout/Components/Nav/Nav.tsx
  frontend/src/Layout/Components/Nav/NavDesktopLinks.tsx
  frontend/src/Layout/Components/Nav/NavLinkBtn.tsx
  frontend/src/Layout/Components/Nav/NavMobileMenu.tsx
  frontend/src/Layout/Components/Nav/NavUserSettingsMenu.tsx
  frontend/src/Layout/RootLayout.tsx
  frontend/src/Pages/Landing/Forms/CitySearchForm.tsx
  frontend/src/Pages/Landing/Forms/FilterForm.tsx
  frontend/src/Pages/Landing/Landing.tsx
  frontend/src/Pages/POI/PointOfInterest.tsx
  frontend/src/Pages/POI/PointOfIntrest.tsx
  frontend/src/index.css
Labels: must have, front end

#97 Update nav bar to show user information
  frontend/index.html
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/Layout/Components/Nav.tsx
  frontend/src/Layout/Components/Nav/MobileListItem.tsx
  frontend/src/Layout/Components/Nav/Nav.tsx
  frontend/src/Layout/Components/Nav/NavDesktopLinks.tsx
  frontend/src/Layout/Components/Nav/NavLinkBtn.tsx
  frontend/src/Layout/Components/Nav/NavMobileMenu.tsx
  frontend/src/Layout/Components/Nav/NavUserSettingsMenu.tsx
  frontend/src/Layout/RootLayout.tsx
  frontend/src/Pages/Landing/Forms/CitySearchForm.tsx
  frontend/src/Pages/Landing/Forms/FilterForm.tsx
  frontend/src/Pages/Landing/Landing.tsx
  frontend/src/Pages/Login/Form.tsx
  frontend/src/Pages/Login/Login.tsx
  frontend/src/Pages/POI/PointOfInterest.tsx
  frontend/src/Pages/POI/PointOfIntrest.tsx
  frontend/src/Pages/POI/PostForm.tsx
  frontend/src/index.css
Labels: enhancement, must have, front end

#102 Interface updates
  README.md
  frontend/src/Layout/Components/Footer.tsx
  frontend/src/Layout/Components/Nav/Nav.tsx
  frontend/src/Layout/Components/Nav/NavUserSettingsMenu.tsx
  frontend/src/Layout/RootLayout.tsx
  frontend/src/Pages/About.tsx
  frontend/src/Pages/Landing/Forms/CitySearchForm.tsx
  frontend/src/Pages/Landing/Forms/Components/StateChecker.tsx
  frontend/src/Pages/Landing/Forms/FilterForm.tsx
  frontend/src/Pages/Landing/Landing.tsx
  frontend/src/Pages/Landing/MapContainer.tsx
  frontend/src/Pages/Login/Form.tsx
  frontend/src/Pages/Login/Login.tsx
  frontend/src/Pages/POI/PointOfInterestModal.tsx
  frontend/src/Pages/POI/PostForm.tsx
  frontend/src/Pages/Profile/Profile.tsx
  frontend/src/types/types.ts
Labels: documentation, task, front end

#103 Frontend filterbyprice
  frontend/src/Pages/Landing/Forms/FilterForm.tsx
  frontend/src/types/types.ts
Labels: task, must have, front end

#106 Remove console logs and fix bugs
  backend/src/controllers/pointOfInterest.controller.ts
  backend/src/controllers/post.controller.ts
  backend/src/controllers/user.controller.ts
  frontend/src/Layout/Components/Nav/NavUserSettingsMenu.tsx
  frontend/src/Pages/Landing/Forms/CitySearchForm.tsx
  frontend/src/Pages/Landing/Forms/Components/PriceSlider.tsx
  frontend/src/Pages/Landing/Forms/FilterForm.tsx
  frontend/src/Pages/POI/PointOfInterestModal.tsx
Labels: bug, must have, front end, back end
