Repository chingu-voyages/v45-tier3-team-47, pull requests merged in 2023-08, with the labels that each got.

#26 Migrate to vite
  frontend/.eslintrc.cjs
  frontend/.gitignore
  frontend/README.md
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/main.tsx
  frontend/src/react-app-env.d.ts
  frontend/src/reportWebVitals.ts
  frontend/src/vite-env.d.ts
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Labels: task, must have, front end

#29 create backend server file
  backend/.gitignore
  backend/package-lock.json
  backend/package.json
  backend/src/index.ts
  backend/tsconfig.json
  backend/tslint.json
Labels: bug, task, must have, back end

#35 Create sign up sign in forms
  backend/index.ts
  frontend/.gitignore
  frontend/package-lock.json
  frontend/src/App.tsx
  frontend/src/Layout/components/Form.tsx
  frontend/src/Pages/Login.tsx
Labels: task, must have, front end

#31 setup database, models, migrations and seeds
  backend/package-lock.json
  backend/package.json
  backend/src/config/config/config.json
  backend/src/config/db.ts
  backend/src/config/migrations/20230824032447-create-user.js
  backend/src/config/migrations/20230824032643-create-post.js
  backend/src/config/migrations/20230824032835-create-point-of-interest.js
  backend/src/config/models/PointOfInterest.ts
  backend/src/config/models/Post.ts
  backend/src/config/models/User.ts
  backend/src/config/models/index.js
  backend/src/config/seeders/20230824033257-test1-user.js
  backend/src/config/seeders/20230824033848-dummy-post.js
  backend/src/config/seeders/20230824034627-test-pointsofinterest.js
Labels: task, must have, back end
